@model S.H.E.tBlog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tBlog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BlogCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlogTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlogContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_At)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_At)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tMember.MemberName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tMember.MemberName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BlogID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
