@model IEnumerable<S.H.E.tBlog>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BlogCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created_At)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tMember.MemberName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BlogCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BlogTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BlogContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created_At)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tMember.MemberName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BlogID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BlogID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BlogID })
        </td>
    </tr>
}

</table>
